@media (min-width: 500px) {
    body {
      width: 80%;
      margin: 0 auto;
    }
    header {
      display: flex;
      justify-content: space-between;
    }
    nav ul {
      display: flex;
    }
    nav li {
      margin-left: 1em;
    }
  }

  @media (max-width: 500px) {
    nav ul {
      display: block;
    }
    nav li {
      margin: 0.5em 0;
    }
  }